/* ---------------FUNCIONA------------------- */

/* Título do calendário */
:host ::ng-deep .fc-toolbar h2 {
  font-family: "Rawline" !important;
  font-weight: 400 !important;
  font-size: 30px;
  color: var(--black);
}

body {
  font-family: "Rawline" !important;
  font-weight: 200 !important;
}
.calendario-wrapper {
  padding: 20px 80px 0 80px; /* top right bottom left */
}

/* =======================
   FullCalendar TimeGrid
======================= */

/* Cada linha de horário */
:host ::ng-deep .fc-time-grid .fc-slats td {
  height: 40px; /* altura de cada linha */
}

:host ::ng-deep .fc .fc-col-header .fc-scrollgrid-sync-inner {
  font-weight: bold;
  text-align: center;
}

/* Botões do header */
:host ::ng-deep .fc-toolbar {
  margin-bottom: 10px;
}

/* Eventos */
:host ::ng-deep .fc-event.evento-azul {
  background-color: var(--primary-color-light) !important;
  color: var(--white) !important;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 0.85rem;
  border: none !important;
}

/* Evento em hover */
:host ::ng-deep .fc-event.evento-azul:hover {
  background-color: var(--primary-color) !important;
  cursor: pointer;
}

/* Botões da toolbar (prev, next, today) */
:host ::ng-deep .fc-toolbar .fc-button {
  background-color: var(--background-color-white) !important; /* cor de fundo */
  color: var(--primary-color) !important; /* cor do texto */
  border: none !important; /* remove borda */
}

/* Hover dos botões */
:host ::ng-deep .fc-toolbar .fc-button:hover {
  background-color: var(
    --primary-color-light
  ) !important; /* cor ao passar o mouse */
  cursor: pointer !important;
}
